/* 공통 common.css */
#wrap {}
#wrap * {
    transition: all 0.3s; /* 크기변형 애니메이션 부드럽게 */
}
#wrap .container {
    min-width: 320px;
    background-size: cover;
    background-position: center;
    padding: 70px 15px;
}
#wrap .container .contents {
    max-width: 1250px;
    margin: 0 auto;
}
#wrap .container .contents h1 {
    font-size: 1.38rem; font-weight: 500; line-height: 1.2;
    margin: 0 0 40px;
}
#wrap .container .contents h1 .highlight {
    font-size: 1.38rem; font-weight: 500; line-height: 1.2;
    color: #050505;
    background-color: #fff;
}
#wrap .container .contents > p,
#wrap .container .contents h1+p {
    font-size: 0.81rem; font-weight: 500; line-height: 1.7;
    margin: 0 0 22px;
}
/* 모바일 디자인 - .sponser_btn */
#wrap .container .sponser_btn {
    background: linear-gradient( 90deg, #FE9300, #FF7300);
    display: flex; flex-flow: row nowrap;
    justify-content: center; align-items: center;
    gap: 10px;
    width: 164px; height: 41px;
    border-radius: 37.5px;
    font-weight: 500;
    margin: 0 auto;
}
#wrap .container .sponser_btn::after {
    content: '>'; display: block;
    color: #fff;
    font-size: 0.75rem;
}
#wrap .container .sponser_btn em {
    color: #fff;
}
#wrap .container .sponser_btn:hover {
    background: linear-gradient(90deg, #fed800, #ffc400);
}
#wrap .container .sponser_btn:hover em {
    color: #fff;
    font-weight: 600;
}
#wrap .container .sponser_btn:hover::after {
    color: #fff;
    font-weight: 600;
    animation: move_li 0.3s alternate infinite;
}





@keyframes move_li {
    0% {transform: translateX(-1px);}
    100% {transform: translateX(2px);}
}
@keyframes scale_b {
    0% {transform: scale(1.0);}
    100% {transform: scale(1.1);}
}
@keyframes color_b {
    0% {color:#FF7300}
    100% {color:#ffc400}
}
